language: julia
os:
  - linux
  - osx
julia:
  - 1.1
notifications:
  email: false
sudo: false
script:
  - if [[ -a .git/shallow ]]; then git fetch --unshallow; fi
  - julia -e 'using Pkg; Pkg.clone(pwd()); Pkg.build("Mamba"); Pkg.test("Mamba")'
